<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.11" targetFramework="net472" />
  <package id="LibGit2Sharp" version="0.26.0" targetFramework="net472" />
  <package id="LibGit2Sharp.NativeBinaries" version="2.0.267" targetFramework="net472" />
  <package id="Markdig" version="0.17.1" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.5.0" targetFramework="net472" />
  <package id="Microsoft.TeamFoundation.DistributedTask.Common.Contracts" version="16.143.2" targetFramework="net472" />
  <package id="Microsoft.TeamFoundationServer.Client" version="16.143.2" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Services.Client" version="16.143.2" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="Octokit" version="0.32.0" targetFramework="net472" />
  <package id="RestSharp" version="106.6.10" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.5.0" targetFramework="net472" />
</packages>